@import "../../../../theme/theme.scss";

#Documents {
    &.tablet {
        &.block.simple {
            padding: 20px 60px 0 !important;
        }
    }

    #DocButtons .block {
        text-align: center;
        display: flex;
        height: 62px;
        @include short() {
            height: 45px;
        }
        cursor: pointer;
        &:hover {
            background: var(--ion-color-light-tint) !important;
        }
        .doc-name {
            font-size: 0.8em;
            width: 100%;
            text-align: center;
            align-self: center;
        }
    }

    .view-more {
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
        span {
            font-size: 0.8em;
            &:hover {
                color: var(--ion-color-primary);
            }
        }
    }
}

#DocOptions {
    padding: 20px 10px 10px;
    .block {
        height: 100px;
    }
}
