@import "../../../../theme/theme.scss";

#Logo {
    font-weight: 400;
    .welcome {
        padding-bottom: 10px;
    }
    .store_logo {
        max-width: 125px;
        text-align: center;
        margin: 15px auto 10px;
        @include short() {
            margin: 0 auto 10px;
            width: 100px;
        }
    }
}
