@font-face {
    font-family: "Daimler CS Light Regular";
    src: url("8f96d0baaefa846de86bb16fd6fcc8f2.eot");
    /* IE9*/
    src: url("8f96d0baaefa846de86bb16fd6fcc8f2.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("8f96d0baaefa846de86bb16fd6fcc8f2.woff2") format("woff2"),
        /* chrome、firefox */
        url("8f96d0baaefa846de86bb16fd6fcc8f2.woff") format("woff"),
        /* chrome、firefox */
        url("8f96d0baaefa846de86bb16fd6fcc8f2.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("8f96d0baaefa846de86bb16fd6fcc8f2.svg#Daimler CS Light Regular") format("svg");
    /* iOS 4.1- */
}