@import "./variables.scss";

.slideContainer {
    position: relative;
    height: 100%;
    .slide {
        z-index: 10;
        width: 100%;
        position: absolute;
        transition: transform 1s ease;
        &.left {
            opacity: 0;
            animation: fadeOut 1s;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            left: 0;
        }

        &.right {
            opacity: 0;
            animation: fadeOut 1s;
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            right: 0;
        }

        &.center {
            opacity: 1;
            animation: fadeIn 1s;
            transform: translateX(0);
            -webkit-transform: translateX(0);
        }
    }
}

@keyframes rightCenter {
    from {
        left: auto;
        right: $rightPos;
    }
    to {
        left: auto;
        right: $centerPos;
    }
}
@keyframes centerLeft {
    from {
        left: $centerPos;
    }
    to {
        left: $leftPos;
    }
}
@keyframes centerRight {
    from {
        right: $centerPos;
    }
    to {
        right: $rightPos;
    }
}
@keyframes leftCenter {
    from {
        left: -100px;
    }
    to {
        left: $centerPos;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
