#Vinfo {
	.content {
		width: 100%;
		&.desktop {
			background: var(--ion-color-light-shade);
			border-radius: 10px;
			padding: 20px;
			width: 80%;
			display: block;
			margin: 50px auto;
		}
	}
}
