@import "./theme.scss";

#Vinfo {
	&.mobile,
	&.tablet {
		height: 100%;
	}

	&.desktop {
		.flex-col.sections {
			min-width: 600px;
			max-width: 1000px;
			min-height: 700px;
		}
	}

	.content {
		width: 100%;
		&.gutters {
			display: block;
			padding: 20px;
			width: 80%;
			margin: 50px auto;
		}
		&.fill {
			height: 100%;
		}

		.block {
			&.simple {
				padding: 10px;
				position: relative;
			}
			&.space {
				padding: 20px 20px 0;
			}
			&.rounded {
				border-radius: 15px;
			}
			&.shaded {
				background: var(--ion-color-light-shade);
				&.btn {
					background-color: var(--ion-color-step-200);
				}
				&.darker {
					background: var(--ion-color-medium-shade);
				}
				&.darkest {
					background: var(--ion-color-dark-shade);
				}
				&.transparent {
					background-color: rgba(var(--ion-color-light-rgb), 0.8);
				}
			}
		}
		.flexblock {
			@include flexbox();
			&.rows {
				&.reverse {
					flex-direction: row-reverse;
				}
			}
			&.cols {
				height: 100%;
				flex-direction: column;
				&.reverse {
					flex-direction: column-reverse;
				}
			}
			&.wrap {
				flex-wrap: wrap;
				&.reverse {
					flex-wrap: wrap-reverse;
				}
			}
			&.center {
				justify-content: center;
			}
			&.stretch {
				justify-content: space-between;
				&.even {
					justify-content: space-evenly;
				}
				&.three-col {
					.block {
						@include flex(1 0 33%);
					}
					&.gap-ten {
						.block {
							@include flex(1 0 30%);
						}
					}
				}
			}
			&.aln-cnt {
				align-items: center;
			}
			&.aln-btm {
				align-items: flex-end;
			}
			&.gap-ten {
				gap: 10px;
			}
			&.gap-thirty {
				gap: 30px;
			}
			.grow {
				@include flex(2 0px);
				flex-grow: 1;
			}
		}
		.fancy-contact-btn {
			cursor: pointer;
			text-align: center;
			background-color: #333;
			color: white;
			border-radius: 10px;
			margin: 0 auto;
			width: 80%;
			padding: 5px 20px;
			span {
				background-color: #111;
				display: block;
				padding: 15px;
				border-radius: 15px;
				color: #72bf55;
				font-weight: 700;
				font-size: 1.1em;
				&:hover,
				&:active {
					background-color: #72bf55;
					color: #111;
				}
			}
		}
	}
}

.photo-carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	.tools {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 14px;
		.icon-large {
			float: right;
		}
	}
}
